@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;

}

/* Header part Stard her  */

.nav-content {
    max-width: 1440px;
    height: 110px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}
.nav-content h2{
    margin-right: 55%;
}
.nav-content button{
    padding: 10px 15px;
    background-color: white;
    color: black;
    border-radius: 4px;
}

/* Banner section stard */

.banner-container {
    max-width: 1440px;
    height: 600px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

.banner-content{
    width: 998px;
    height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
    
}

.banner-content img{
    width: 240.28px;
    height: 240px;
    margin-bottom: 15px;
}

.banner-content h1{
    color: rgb(13, 19, 33);
    font-size: 33px;
    font-weight: 800;
    text-align: center;
    line-height: 50px;
    margin-bottom: 20px;
}

.banner-content p{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.7;

}

.banner-content button {
    background-color: #0D1321;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 10px 15px;
}

/* web development section stard  */
.devlopment-container{
    max-width: 1140px;
    height: 1020px;
    background-color:rgba(13, 19, 33, 0.02);;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 100px;
}

.dev-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.dev-text h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.dev-text p{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-top: 18px;

}


.first-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
}

.content-text h2{
    color: #0D1321B3;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.content-text p{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7;
    margin-bottom: 20px;

}

.content-text button{
    background-color: #FCFCFD;
    color: #0D1321;
    padding: 8px 20px;
    border-radius: 3px;
}

.first-content img{
    width: 259.56px;
    height: 217.01px;
    margin-top:30px;
    margin-right: 70px;
}


.second-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-left: 20px;
}

.second-content img {
    width: 223.2px;
    height: 208.85px;
}

.content-text2{
    margin-right: 150px;
}

.content-text2 h2{
    color: #0D1321B3;
    font-size: 28px;
    font-weight: 700;
}

.content-text2 p{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
    line-height: 20px;
    margin-top: 20px;
} 

.content-text2 button{
    background-color:#FCFCFD;
    color: #0D1321;
    padding: 8px 20px;
    border-radius: 3px;
    margin-top: 20px;
}


/* Inspiration Section stard here */

.inspiration-section{
    width: 1140px;
    height: 650px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 55px;
}

.inspiration-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inspiration-text h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 26px;
    font-weight: 800;
}

.inspiration-text p{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
    margin-top: 20px;

}

.outsidevideo{
    width: 1140px;
    height: 614px;
    margin-top: 40px;
    margin-left: 34px;
    
}

.outside{
    border-radius: 14px;
}

/* Target section stard here */
.target-container{
    width: 1140px;
    height: 420px;
    margin: 0 auto;
}
.target-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.target-text h1{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

.target-text p{
    color: #0D1321;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-top: 15px;
    margin-bottom: 45px;

}

.target-image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
}

.target-image img{
    width: 35.56px;
    height: 34.14px;
    margin-bottom: 10px;
}

.target-image h2{
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
}
.target-image p{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.7;
    margin-bottom: 10px;


}

.target-image a{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 700;
}

.color-bg1{
    background-color:#FFF6F4;
    margin: 10px;
    padding: 25px;
    border-radius: 5px;
}

.color-bg2{
    background-color: #F2F6FE;
    margin: 10px;
    padding: 25px;
    border-radius: 5px;
}

.color-bg3{
    background-color: #FFFDF2;
    margin: 10px;
    padding: 25px;
    border-radius: 5px;
}


/* Optional target stard here */

.optional-target{
    width: 1140px;
    height: 850px;
    margin: 0 auto;
    
}

.optional-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.optional-text h2{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 15px;
}

.optional-text p{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
    line-height: 19px;

}

.optional-image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: 70px ;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 10px;
    padding: 30px;
    
}

.optional-image img{
    width: 94.78px;
    height: 84.41px;
    margin: 0 25px;

}

.image-text h2{
    color: rgb(13, 19, 33);
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 15px;

}

.image-text p{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 18px;

}

.image-text a{
    color: black;
    font-size: 14px;
    font-weight: 700
}
.optional-image2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: 70px ;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 10px;
    padding: 30px;
    
}

.optional-image2 img{
    width: 94.78px;
    height: 84.41px;
    margin: 0 35px;

}

.image-text2 h2{
    color: rgb(13, 19, 33);
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 15px;

}

.image-text2 p{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 18px;

}

.image-text2 a{
    color: black;
    font-size: 14px;
    font-weight: 700
}

.optional-image3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: 70px ;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 10px;
    padding: 30px;
    
}

.optional-image3 img{
    width: 94.78px;
    height: 84.41px;
    margin: 0 35px;

}

.image-text3 h2{
    color: rgb(13, 19, 33);
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 15px;

}

.image-text3 p{
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 18px;

}

.image-text3 a{
    color: black;
    font-size: 14px;
    font-weight: 700
}

/* Support section stard here */

.support-container{
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    margin-top: 30px;
    background-image: url("./assets/handshake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;



}

.support-content h2{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
}

.support-content p{
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 25px;

}

.support-btn input {
    width: 548px;
    height: 57px;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
   
}

::placeholder {
    color: rgba(13, 19, 33, 0.4);
    font-size: 12px;
    font-weight: 400;
    padding: 19px 20px 19px 20px;
    margin-left: 15px;
    border: none;
  
}

.support-btn button{
    width: 120px;
    height: 57px;
    border: none;
    font-weight: bold;
    background-color:white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer section stard here */
.footer-container{
    width: 1180px;
    height: 100px;
    margin: 0 auto;
    background-color: #F7F8F8;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;

}

.footer-container h2{
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
    margin-top: 10px; 
    margin-right: 8px;  
}